{% extends "base.html" %}
{% block content %}
    <span class="d-none">This Page is about CI/CD</span>
    <div class="container">
        <div class="text">
            <div>
                <h4>Git hub deployment congiguration</h4>
                <div class="row">
                    <div class="col-6">
                        <p><strong>Step1:</strong> Create a dev.yml &amp; prod.yml </p>
                    </div>
                    <div class="col-5">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p><strong>Step2:</strong> configure when to trigger the job by using the
                            properties.
                            In the following configuration currently it triggeres the job on push to master. </p>
                    </div>
                    <div class="col-5">
                        <img src="/static/images/ss1.png" class="zoom rounded" alt="...">
                    </div>

                </div>

                <div class="row">
                    <div class="col-6">
                        <p><strong>Step3:</strong> Make congiruration to run testes. using the following code.
                        </p>
                    </div>
                    <div class="col-5">
                        <img src="/static/images/ss2.png" class="zoom rounded" alt="...">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="card-text"><strong>Step4:</strong> Extract the docker image and docker
                        tag of the
                        container,
                        provided username and password for login into docker hub and extracting the details.</p></div>
                    <div class="col-5">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p><strong>Step5:</strong> Deploy application in heroku. Provided email,
                            app name and API key</p>
                    </div>
                    <div class="col-5">
                        <img src="/static/images/ss3.png" class="zoom rounded" alt="...">
                    </div>
                </div>
            </div>
            <div>
                <h5>Configuration in Heroku:</h5>
                <div class="row">
                    <div class="col-6"><p><strong>Step1:</strong> Create seperate app for prod and dev in heroku.</p>
                    </div>
                    <div class="col-5">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"><p><strong>Step2:</strong>Extract the API keys from the application settings after
                        creation and save in github secret.</p></div>
                    <div class="col-5">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}