{% extends "base.html" %}
{% block content %}
    <span class="d-none">This Page is about index page</span>
    <div class="container">
        <div class="row border border-primary mb-2">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="{{ url_for('simple_pages.show', page='Git') }}"><img
                                src="{{ url_for('static', filename='images/Git-Logo.png') }}" class="img-fluid w-100"
                                alt="..."></a>
                    </div>
                    <div class="carousel-item">
                        <a href="{{ url_for('simple_pages.show', page='Docker') }}"><img
                                src="{{ url_for('static', filename='images/docker-logo.png') }}" class="img-fluid w-100"
                                alt="..."></a>
                    </div>
                    <div class="carousel-item">
                        <a href="{{ url_for('simple_pages.show', page='python-flask') }}"><img
                                src="{{ url_for('static', filename='images/python-flask.png') }}" class="img-fluid w-100"
                                alt="..."></a>
                    </div>
                    <div class="carousel-item">
                        <a href="{{ url_for('simple_pages.show', page='ci-cd') }}"><img
                                src="{{ url_for('static', filename='images/ci-cd.webp') }}" class="img-fluid w-100"
                                alt="..."></a>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">About Me</h5>
                        <p class="card-text">Name : Kartha<br>
                        Qualification : B-Tech, (M.S)</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Technologies</h5>
                        <p class="card-text">
                            <ul>
                                <li>Git</li>
                                <li>Docker</li>
                                <li>Python</li>
                                <li>Flask</li>
                                <li>Java</li>
                                <li>Spring Boot</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Address</h5>
                        <p class="card-text">329 Central Avenue, Apartment 2<br>
                        Harrison, New Jersey.<br>
                        Postal Code : 07029.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}