<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

        <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
    {% endblock %}
    <script>
        function appendCSSPropertyOnNavbar(){
            const url_page = window.location.href.split("/").slice(-1);
            if(url_page == ""){
                document.getElementById("index").classList.remove("link-secondary");
                document.getElementById("index").classList.add("link-dark");
            }else{
                document.getElementById(url_page).classList.remove("link-secondary");
                document.getElementById(url_page).classList.add("link-dark");
            }
        }

    </script>

</head>
<body onload="appendCSSPropertyOnNavbar()">
<div class="container" style="width:70%">
    <div class="row">
        <header class="mb-5">
            <!-- As a link -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" href="/">My Site</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse header-side" id="navbarNav">
                        <ul class="nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a id="index" class="nav-link link-secondary" aria-current="page" href="{{ url_for('simple_pages.show', page="index")}}">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link link-secondary dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Technologies
                                  </a>
                                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a id="Git" class="dropdown-item link-secondary" href="{{ url_for('simple_pages.show', page="Git")}}">Git</a></li>
                                    <li><a id="Docker" class="dropdown-item link-secondary" href="{{ url_for('simple_pages.show', page="Docker")}}">Docker</a></li>
                                    <li><a id="python-flask" class="dropdown-item link-secondary" href="{{ url_for('simple_pages.show', page="python-flask")}}">python & flask</a></li>
                                    <li><a id="ci-cd" class="dropdown-item link-secondary" href="{{ url_for('simple_pages.show', page="ci-cd")}}">CI & CD</a></li>
                                  </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link link-secondary dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Articles
                                  </a>
                                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a id="article1" class="dropdown-item link-secondary" href="{{ url_for('simple_pages.show', page="article1")}}">Article-1</a></li>
                                    <li><a id="article2" class="dropdown-item link-secondary" href="{{ url_for('simple_pages.show', page="article2")}}">Article-2</a></li>
                                    <li><a id="article3" class="dropdown-item link-secondary" href="{{ url_for('simple_pages.show', page="article3")}}">Article-3</a></li>
                                    <li><a id="article4" class="dropdown-item link-secondary" href="{{ url_for('simple_pages.show', page="article4")}}">Article-4</a></li>
                                  </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        Environment: {{ deployment_environment }} - Copyright: {{ year }}
        Message: {{ mymessage }} CopyRight Cost: {{ format_price(200) }}
    </footer>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>
</html>